<!DOCTYPE html>
<html>
  <head>
    <title>ParaPodcast</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </body>
</html>

